body {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid white;
}

.inner {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

header>.inner {
    height: 120px;
    background-color: beige;
}

header .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

header .sub-menu {
    height: 40px;
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .sub-menu .menu {
    display: flex;
}

header .sub-menu .menu li a {
    padding: 10px;
}

header .search {
    position: relative;
}

header .search input {
    transition: .4s;
    width: 28px;
    height: 28px;
    border-radius: 5px;
}

header .search input:focus {
    width: 180px;
}

header .search .material-icons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

header .search.focused .material-icons {
    display: none;
}

header .sub-menu .menu li {
    position: relative;
}


header .sub-menu .menu li::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 12px;
    background-color: black;
    opacity: .5;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .sub-menu .menu li:first-child::before {
    display: none;
}

header .main-menu {
    position: absolute;
    bottom: 0;
    right: 5px;
}

header .main-menu .item-menu {
    display: flex;
}

header .main-menu .item .item__name {
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

header .main-menu .item:hover .item__name {
    background-color: black;
    color: orange;
}

header .main-menu .item .item__contents {
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    display: none;
    background-color: black;
}

header .main-menu .item:hover .item__contents {
    display: block;
}

header .main-menu .item .item__contents .contents_list .contents {
    display: flex;
    padding: 10px;
}

header .main-menu .item .item__contents .contents_list .contents li {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .main-menu .item .item__contents .contents_list .contents li h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

header .main-menu .item .item__contents .contents_list .contents li h4:hover {
    color: orange;
}

header .main-menu .item .item__contents .contents_list .contents li ul li a {
    font-size: 16px;
    color: #999;
    margin-bottom: 10px;
}

header .main-menu .item .item__contents .contents_list .contents li ul li a:hover {
    color: orange;
}

header .main-menu .item .item__contents .contents_texture {
    background-image: url(./images/main_menu_pattern.jpg);
}

header .main-menu .item .item__contents .contents_texture .inner {
    padding: 10px 0 0 0;
}

header .main-menu .item .item__contents .contents_texture h2,
header .main-menu .item .item__contents .contents_texture p {
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}

.visual {
    margin-top: 120px;
    background-image: url(./images/visual_bg.jpg);
}

.visual>.inner {
    height: 646px;
}

.btn {
    box-sizing: border-box;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: black;
    color: white;
}

.btn.btn--brown {
    color: brown;
    border-color: brown;
    opacity: .9;
}

.btn.btn--brown:hover {
    color: white;
    background-color: brown;
}

.visual .visual_title {
    position: absolute;
    left: 20px;
}

.visual .visual_btn {
    position: absolute;
    top: 220px;
    left: 150px;
}

.visual .visual_cup1 {
    position: absolute;
    right: -60px;
    top: 0;
}

.visual .visual_cup1_text {
    position: absolute;
    right: 200px;
    top: 80px;
}

.visual .visual_cup2 {
    position: absolute;
    right: 140px;
    top: 160px;
}

.visual .visual_cup2_text {
    position: absolute;
    right: 380px;
    top: 180px;
}

.visual .visual_spoon {
    position: absolute;
    bottom: 10px;
    left: 240px;
}

.visual .fade-out {
    opacity: 0;
}

.badges {
    position: fixed;
    top: 132px;
    right: 10px;
}

.badges .badge {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.15);
}

.badges .badge img {
    display: block;
}

.notice {
    position: relative;
}

.notice .bg-left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: black;
}

.notice .bg-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: white;
}

.notice .inner {
    height: 60px;
    display: flex;
}

.notice .inner__left {
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.notice .inner__left h4 {
    font-size: 20px;
    color: white;
    margin-right: 20px;
    flex-shrink: 0;
}

.notice .inner__left .swiper {
    flex-grow: 1;
}

.notice .inner__left .material-icons {
    font-size: 30px;
    color: white;
    padding: 15px;
}

.notice .swiper-slide a {
    color: white;
}

.notice .swiper-slide {
    display: flex;
    justify-content: center;
}

.notice .inner__right {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotion {
    position: relative;
    background-color: white;
    height: 610px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.promotion .swiper {
    height: 553px;
    width: calc(819px * 3 + 10px * 2);
    flex-shrink: 0;
}

.promotion .swiper-slide {
    position: relative;
    opacity: .5;
    transition: opacity 1s;
}

.promotion .swiper-slide .btn {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

.promotion .swiper-slide-active {
    opacity: 1;
}

.promotion.hide {
    height: 0;
}

.notice .inner__right h2 {
    font-size: 20px;
    margin-right: 30px;
}

.notice .inner__right .material-icons {
    font-size: 30px;
    cursor: pointer;
}

.promotion .swiper-button-prev,
.promotion .swiper-button-next {
    color: black;
    width: 42px;
    height: 42px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    top: 300px;
}

.promotion .swiper-button-prev::after,
.promotion .swiper-button-next::after {
    display: none;
}

.promotion .swiper-button-prev:hover,
.promotion .swiper-button-next:hover {
    background-color: white;
    color: black;
}

.promotion .swiper-button-prev {
    left: 50%;
    margin-left: -400px;
}

.promotion .swiper-button-next {
    right: 50%;
    margin-right: -400px;
}

.promotion .swiper-pagination {
    bottom: 20px !important;
}

.promotion .swiper-pagination .swiper-pagination-bullet {
    width: 13px;
    height: 12px;
    background-image: url(./images/promotion_slide_pager.png);
}

.promotion .swiper-pagination .swiper-pagination-bullet-active {
    background-color: transparent;
    background-image: url(./images/promotion_slide_pager_on.png);
}

.rewards {
    position: relative;
}

.rewards .bg-left{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #272727;
}

.rewards .bg-right{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #d5c798;
}

.rewards .inner {
    height: 241px;
    background-image: url(./images/rewards.jpg);
}

.rewards .btn-group {
    width: 250px;
    position: absolute;
    bottom: 40px;
    right: 50px;
    display: flex;
    flex-wrap: wrap;
}

.rewards .sign-up {
    width: 130px;
    margin-right: 10px;
}

.rewards .sign-in {
    width: 110px;
}

.rewards .gift {
    margin-top: 10px;
    flex-grow: 1;
}

.btn.btn--reverse {
    color: white;
    background-color: black;
}

.btn.btn--reverse:hover {
    color: black;
    background-color: transparent;
}

.youtube {
    position: relative;
    height: 700px;
    background-color: #272727;
    overflow: hidden;
}

.youtube .youtube_area {
    --width:1920px;
    position: absolute;
    width: var(--width);
    height: calc(var(--width) * 9 / 16);
    background-color: orange;
    top: 50%;
    left: 50%;
    margin-left: calc(var(--width) / -2);
    margin-top: calc(var(--width) * 9 / 16 / -2);
}

#player {
    width: 100%;
    height: 100%;
}

.youtube .youtube_cover {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./images/video_cover_pattern.png);
    background-color: rgba(0, 0, 0, .5);
}

.youtube .floating1{
    position: absolute;
    left: 50px;
    top: 50px;
}

.youtube .floating2{
    position: absolute;
    left: 250px;
    top: 300px;
}